fastapi[all]
sqlalchemy
pydantic
uvicorn[standard]
requests
gunicorn
pymysql
psycopg2-binary
numpy
pandas
orjson
numexpr
xarray
better_profanity
sentry-sdk
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
